In [4]:
import pandas as pd

In [9]:
pwd

'C:\\Users\\ctorr\\Desktop\\asu-tem-fin-pt-06-2020-u-c\\Homework'

In [15]:
df

        Date  Profit/Losses       Dif
0   Jan-2010         867884       NaN
1   Feb-2010         984655  116771.0
2   Mar-2010         322013 -662642.0
3   Apr-2010         -69417 -391430.0
4   May-2010         310503  379920.0
..       ...            ...       ...
81  Oct-2016         102685 -665765.0
82  Nov-2016         795914  693229.0
83  Dec-2016          60988 -734926.0
84  Jan-2017         138230   77242.0
85  Feb-2017         671099  532869.0

[86 rows x 3 columns]

In [12]:
csvpath = "02-Python/Instructions/PyBank/Resources/budget_data.csv"

In [13]:
df = pd.read_csv(csvpath)

In [31]:
Total_mon = len(df['Date'].unique())

In [32]:
Total_cash = sum(df['Profit/Losses'])

In [14]:
df['Dif'] = df['Profit/Losses'].diff()

In [15]:
print(Months)
print(Total)

86
38382578

In [28]:
avg_chg = round(df["Dif"].mean(), 2)

In [29]:
max_profit = round(df["Dif"].max())

In [30]:
min_profit = round(df["Dif"].min())

In [33]:
print("Financial Analysis")
print("----------------------------")
print(f"Total Months: {Total_mon}\n:")
print(f"Total Revenue: {Total_cash}\n:")
print(f"Average Change: {avg_chg}\n:")
print(f"Greatest increase in Profits: {max_profit}\n:")
print(f"Greatest Decrease in Profits: {min_profit}\n:")

Financial Analysis
----------------------------
Total Months: 86
:
Total Revenue: 38382578
:
Average Change: -2315.12
:
Greatest increase in Profits: 1926159
:
Greatest Decrease in Profits: -2196167
: